extends layouts/main
block vars
    - var router = "connect"

block content
    div(data-appular-component="connect")
        video#local(autoplay, muted)
        video#remote(autoplay, muted)
        .controls
            button#call Call